// nprogress样式
#nprogress .bar {
  background: #409eff !important;
}

#nprogress .spinner-icon {
  border-top-color: #409eff !important;
  border-left-color: #409eff !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #409eff, 0 0 5px #409eff !important;
}
