// nprogress样式
#nprogress .bar {
  background: #e61010 !important;
}
#nprogress .spinner-icon {
  border-top-color: #e61010 !important;
  border-left-color: #e61010 !important;
}
#nprogress .peg {
  box-shadow: 0 0 10px #e61010, 0 0 5px #e61010 !important;
}
