// nprogress样式
#nprogress .bar {
  background: #E61010 !important;
}

#nprogress .spinner-icon {
  border-top-color: #E61010 !important;
  border-left-color: #E61010 !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #E61010, 0 0 5px #E61010 !important;
}
