@import './reset.less';
@import './transition.less';
@import './animation.less';
@import './ant-design.less';

body {
  font-size: 14px;
  font-family: Inter, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

.pear {
  &-table {
    .ant-table {
      max-height: calc(
        100vh - @headerHeight - @tabHeight - 32px - 80px - 16px - 16px - 104px - 12px
      );
      overflow-y: auto;
    }
  }

  &-box {
    padding: 16px;
    border-radius: 6px;
    box-shadow: 0 0 12px rgb(0 0 0 / 5%);
    background-color: var(--pear-page-bg);
    box-sizing: border-box;
  }

  &-hover {
    cursor: pointer;
    &:hover {
      color: var(--pear-primary-color);
      transition: all 0.3s;
    }
  }

  &-primary {
    color: var(--pear-primary-color);
    cursor: pointer;
    &:hover {
      color: var(--pear-primary-color-2);
      transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }
}

#nprogress .bar {
  background: var(--pear-primary-color) !important;
}
#nprogress .spinner-icon {
  border-top-color: var(--pear-primary-color) !important;
  border-left-color: var(--pear-primary-color) !important;
}
#nprogress .peg {
  box-shadow: 0 0 10px var(--pear-primary-color), 0 0 5px var(--pear-primary-color) !important;
}
