.pear-header {
  height: var(--pear-header-height);
  padding: 0 24px;
  @apply flex-between;
  font-size: 16px;
  background-color: var(--pear-header-bg);
  .title {
    margin-left: 6px;
    font-size: 21.5px;
    color: var(--pear-main-color);
    font-weight: bold;
  }
}
