.pear-menu {
  height: 100%;
  overflow-y: auto;
  background-color: var(--pear-menu-bg);
  transition: width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
  z-index: 800;

  // 修改默认的滚动条颜色
  &::-webkit-scrollbar {
    width: 6px; // 垂直滚动条宽度
    height: 6px; // 水平滚动条高度
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--pear-menu-scrollbar-thumb-bg);
    border-radius: 20px;
  }
  &::-webkit-scrollbar-track {
    background: transparent; // 轨道背景
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--pear-menu-scrollbar-thumb-hover-bg); // 悬停时滑块颜色
  }
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  .ant-menu {
    background-color: var(--pear-menu-bg) !important;
  }
}

.pear-menu-sub-box .ant-menu-sub {
  background-color: var(--pear-sub-menu-bg) !important;
}
