.pear-menu {
  height: calc(100vh - 64px);
  background-color: var(--pear-menu-bg);
  transition: width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
  z-index: 800;
  // 修改垂直滚动条轨道 track 的宽度
  .simplebar-vertical {
    width: 7px !important;
  }
  .simplebar-scrollbar::before {
    // 修改垂直滚动条滑块 thumb 的宽度 与轨道宽度一致
    width: 7px !important;
    // 确保滑块与轨道左对齐
    left: 0;
    // 滚动条颜色
    background-color: var(--pear-menu-scrollbar-thumb-bg) !important;
  }
  // 悬停时的颜色
  .simplebar-scrollbar:hover::before {
    background-color: var(--pear-menu-scrollbar-thumb-hover-bg) !important;
  }
  .ant-menu {
    background-color: var(--pear-menu-bg) !important;
  }
  .ant-menu-sub {
    background-color: var(--pear-sub-menu-bg) !important;
  }
}

// 收起时的子菜单颜色
.pear-menu-sub-box .ant-menu-sub {
  background-color: var(--pear-sub-menu-bg) !important;
}
